@charset "UTF-8";
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-ExtraBold;
    font-weight: 100;
    src: url('Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    font-weight: 100;
    src: url('Montserrat-SemiBold.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-family: Montserrat-Regular, sans-serif;
}
body {
    background-color: #f0f0f0;
    max-width: 100vw;
}
input {
    background-color: white;
    border-radius: 5px;
    padding: 2.5px;
}
button {
    background-color: orange;
    height: 25px;
    padding: 2.5px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(255, 201, 102);
}
#shell {
    width: 100%;
}
#shell h2 {
    font-size: 2em;
    padding-top: 30px;        
}
#shell h3 {
    font-size: 1.25em;
    padding-top: 10px;
}
#mainSection {
    width: 95%;
}
#inputSection  {
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}
#inputBox {
    padding-top: 10px;
    background-color: #cecece;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 15px;
    width: 90%;
    height: 100%;
    min-height: 250px;
}
#resultSection {
    width: 30%;
    margin-top: 100px;
    margin-left: 10%;
    float: left;
}
#resultItems {
    float: left;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
}
#resultPrices {
    float: left;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
}
#inputBox h1 {
    float: left;
    width: 44%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7.5px;
}
#totalButton {
    padding-top: 200px;
    padding-bottom: 10px;
}
#totalTitle {
    font-size: 1.5em;
}